@use '../base/variables' as v;
.alert{
    display: flex;
    justify-content: space-around;
    margin: 0;
    .alerta{
        text-align: center;
        padding: 1rem;
        border-radius: 2rem;
        width: 55%;
        // margin: 1.1rem 0;
    }
    .error{
        background-color: v.$rojo;
    }
    .exito{
        background-color: v.$verde;
    }
}