.tabla{
    width: 100%;
    
    .producto_lista{
        th{
            border: 6px solid rgb(252, 252, 252);
            padding: 0.5rem;
            background-color: #e3d9be;
            text-align: center;
        }
        color: rgb(0, 0, 0);
    }
}